<form [formGroup]="datos">
    <div class="row justify-content-center">

        <div class="col-lg">
            <h4 class="text-center">Enviar correos</h4>
        </div>
        <label> Asunto</label>
        <input type="text" name="subject" formControlName="subject">
        <label>Mensaje</label>
        <textarea name="text" id="text" cols="30" rows="10" formControlName="text"></textarea>

        <button class="btn btn-success" (click)="enviarCorreo()">Enviar correo</button>
    </div>



</form>
