<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Ventas</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" [routerLink]="'/crudVenta'" >Detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Inventario</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" [routerLink]="'/crudInventario'">Detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Domicilio</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link"  [routerLink]="'/crudDomicilio'" >Detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Reserva</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" [routerLink]="'/crudReserva'" >Detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <h2>Crud Venta de domicilios</h2>
        <button class="btn btn-primary mb-3"[routerLink]="['/formularioV']">Crear Venta</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id venta Domicilio</th>
            <th scope="col">Valor total</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Forma de pago</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let ventasD of ventaDomicilios">
            <th scope="row"> {{ventasD.id_venta_domicilio}} </th>
            <td> {{ventasD.valor_total}} </td>
            <td> {{ventasD.id_domicilio_fk.id_domicilio}} </td>
            <td> {{ventasD.id_forma_pago.nombre_formas}} </td>
            <td>
                <button class="btn btn-info me-2"[routerLink]="['/formularioV', ventasD.id_venta_domicilio]" >Editar</button>
                <button class="btn btn-danger" (click)="eliminarVentaDomicilio(ventasD.id_venta_domicilio)" >Eliminar</button>
    
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
</body>
</html>
