.container-fluid{
    width: 80%;
    height: 10%;
    margin-top: 3%;
    

    &-text{
        font-size: large;
        text-align: center;
        text-overflow: ellipsis;
        height: 10%;
    }

    .full-calendar{
        flex-basis: 1rem;
        background-color: lightgray;

    }

}