<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-logo">

    </div>

    <div class="navbar-tittle"></div>
    <div class="navbar-cart" (click)="onToggleCart()">
      <div class="navbar-cart-items">
        <p>0</p>
      </div>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </nav>

    <div class="cart" [ngClass]="{show:viewCart}">
      <app-cart>

      </app-cart>
    </div>


    <div class="container">
      <div class="container-tittle">
        <h2>Productos</h2>
      </div>

      <div class="container-products">
        <app-producto></app-producto>
      </div>
    </div>

  
</body>
</html>